<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Aktuelles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img src="assets/img/sarsCov2.png">
    <p>Auf Grund der derzeitigen Lage entfällt bis auf weiteres der
      Mindestkilometer. Sollten Sie jedoch <b>nicht</b> mehr fahren,
      dann informieren Sie uns bitte, bzw. geben das Fahrzeug zurück.
    </p>
</ion-content>
