<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Taxikurse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h4>Taxikurse</h4>
  <p>Mit September wird sich vieles vom Mietwagen her verändern.</p>
    <p class="text-center"><b>Wichtig wäre ein Taxischein.</b></p> <p>Dazu ist ein Taxilenker-Kurs
    notwendig. Wir haben die Kurstermine von 40100 für Sie
    herausgesucht. <br><br>Sie können sich bei uns (Herr Lehner, Taxi-Büro) anmelden. <br><br>
    Die Kurskosten sind € 220,-, Kursunterlagen inbegriffen. Wir fördern mit 50%,
    daher bezahlen Sie nur noch € 110,- Kursgebühr und die Prüfungsgebühr von € 172,-
    an die Wirtschaftskammer.</p><p>
    Sollten Sie anschließend als Taxilenker bei uns arbeiten, fördern wir Sie nochmals
    mit € 333,- (9 Wochen mit € 37,- per Woche)

  </p><br>

  <ion-button expand="full" size="large" color="light" (click)="goTg()">Tageskurse (5 Tage)</ion-button><br>
  <ion-button expand="full" size="large" color="light" (click)="goAb()">Abendkurse (10 Abende)</ion-button>
</ion-content>
