<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Fahrzeugausrüstung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Die Fahrzeugausrüstung ist WICHTIG. Polizei kontrolliert sehr streng
    und daher muss im Fahrzeug vorhanden sein:
  </p><br>
  <ion-grid style="padding-bottom:0 !important">
    <ion-row>
      <ion-col><img src="assets/img/pol.jpg"></ion-col>
      <ion-col><img src="assets/img/pol.jpg"></ion-col>
    </ion-row>
  </ion-grid>
    <ol style="padding-top:0 !important">
      <li>Abdruck der Mietwagen-Betriebsordnung</li>
      <li>Stadtplan von Wien</li>
      <li>Fahrtenbuch</li>
      <li>Warnweste</li>
      <li>Autoapotheke</li>
      <li>Pannendreieck</li>
      <li>Zulassungsschein</li>
      <li>Reservereifen oder Flickset</li>
      <li>Straßenverzeichnis brauchen Sie keines mehr.</li>
    </ol>
    <p>Bei der Übergabe an den Mieter (Firma) wird alles kontrolliert.
      Wir informieren Sie mittels SMS wöchentlich über die APP. Sie erhalten
      stets den neuesten Stand über automatische Aktualisierung der APP.<br><br>
      Sollte trotzdem etwas fehlen, bekommen Sie es sofort bei Herrn Lehner
      (Vermieterfirma).
    </p>
    <ion-button expand="block" color="dark" (click)="goBack()">zurück</ion-button> <br>
</ion-content>
