<ion-split-pane contentId="content" [disabled]="!paneEnabled">
  <ion-menu contentId="content" menuId="first">

    <ion-header>
      <ion-toolbar>
        <ion-title>Mietwagen</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" menu="first">
          <ion-item routerLink="/tabs/tab1/startmw" routerDirection="root" routerLinkActive="active-item">
            <ion-label>
              Startseite
            </ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/tab1/aktmw" routerDirection="root" routerLinkActive="active-item">
            <ion-label>
              Aktuelles
            </ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/tab1/infomw" routerDirection="root" routerLinkActive="active-item">
            <ion-label>
              Informationen
            </ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/tab1/call0mw" routerDirection="root" routerLinkActive="active-item">
            <ion-label>
              Geöffnet / Anrufen
            </ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/tab1/twmw" routerDirection="root" routerLinkActive="active-item">
            <ion-label>
              Tanken
            </ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/tab1/lenmw" routerDirection="root" routerLinkActive="active-item">
            <ion-label>
              Regeln
            </ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/tab1/pannemw" routerDirection="root" routerLinkActive="active-item">
            <ion-label>
              Panne
            </ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/tab1/unfmmw" routerDirection="root" routerLinkActive="active-item">
            <ion-label>
              Unfall
            </ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/tab1/anfmw" routerDirection="root" routerLinkActive="active-item">
            <ion-label>
              Anfahrt
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

  </ion-menu>

  <ion-router-outlet id="content"></ion-router-outlet>
</ion-split-pane>