<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Kamera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h5>Erfolgsfaktor Kamera - Prämie</h5>
  <img src="assets/img/camAcc.jpg" /><br>
  <p>Wenn Sie einen Unfall haben und:</p>
  <ul>
    <li>die Kamera funktionierte</li>
    <li>Sie danach unmittelbar zu Taxoil fahren, um die Unfallaufnahmen
      zu sichern</li>
    <li>falls der Unfall Freitag nachts oder samstags passiert, die
      Kamera abhängen und damit am Sonntag um 14h zu Taxoil fahren,
      um die Speicherkarte zu tauschen</li>
  </ul>
  <p>belohnen wir Sie, falls Sie am Unfall schuld waren, mit einer
    Prämie von je € 250 auf den Kasko und (falls zutreffend) Haftpflicht-
    Selbstbehalt (Der Gesamtselbstbehalt beträgt dann noch € 1.000,-). <br>
    Sehr wichtig bei Spurwechsel und allem, was strittig ist: Die Kamera
    beweist Ihre Unschuld. <br>
    Falls Sie unschuldig waren, bekommen Sie (Firma) € 250,- von uns
    ausbezahlt. Die Kamera ist der Beweis.</p><br>

    <ion-button expand="block" color="dark" (click)="goBack()">zurück</ion-button> <br>
</ion-content>
