<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Taxikurse Tag</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row className="ion-align-items-start">
      <ion-col>Februar</ion-col>
      <ion-col>
        24.-28.02.<br><br>
      </ion-col>
    </ion-row>
    <ion-row className="ion-align-items-start">
      <ion-col>März</ion-col>
      <ion-col>
        09.-13.03.<br>23.-27.03.
      </ion-col>
    </ion-row>
    <ion-row className="ion-align-items-start">
      <ion-col>April</ion-col>
      <ion-col>
        06.-10.04.<br>20.-24.04.
      </ion-col>
    </ion-row>
    <ion-row className="ion-align-items-start">
      <ion-col>Mai</ion-col>
      <ion-col>
        04.-08.05.<br>25.-29.05.
      </ion-col>
    </ion-row>
    <ion-row className="ion-align-items-start">
      <ion-col>Juni</ion-col>
      <ion-col>
        15.-19.06.<br>29.06.-03.07.
      </ion-col>
    </ion-row>
    <ion-row className="ion-align-items-start">
      <ion-col>Juli</ion-col>
      <ion-col>
        13.-17.07.<br>27.-31.07.
      </ion-col>
    </ion-row>
    <ion-row className="ion-align-items-start">
      <ion-col>August</ion-col>
      <ion-col>
        10.-14.08.<br>24.-28.08.
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="block" color="dark" (click)="goBack()">zurück</ion-button> <br>
</ion-content>

