<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mw-Büro Anrufen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6">Montag - Freitag</ion-col>
      <ion-col size="5">08:00 - 16:00</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">SA, SO, Feiertag</ion-col>
      <ion-col size="5">GESCHLOSSEN</ion-col>
    </ion-row>
  </ion-grid>

  <br><br>

  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="assets/img/buro.jpg">
    </ion-thumbnail>
    <a href="tel:+4369917311731"><h4>&nbsp;&nbsp;Rechnungen</h4></a>
  </ion-item>

  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="assets/img/yasmin.jpg">
    </ion-thumbnail>
    <a href="tel:+4367762533560"><h4>&nbsp;&nbsp;Unfall Yasmin</h4></a>
  </ion-item>

  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="assets/img/domi.jpg">
    </ion-thumbnail>
    <a href="tel:+4369919072141"><h4>&nbsp;&nbsp;Computer EDV Domi</h4></a>
  </ion-item>

  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="assets/img/rotzer.jpg">
    </ion-thumbnail>
    <a href="tel:+4369910531053"><h4>&nbsp;&nbsp;Autovergabe Rötzer</h4></a>
  </ion-item>

</ion-content>

