<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="second"></ion-menu-button>
    </ion-buttons>
    <ion-title>Taxischulen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"><br><br>
  <h4>Taxischulen in Wien</h4><br>
  <ul>
    <li><a href="https://www.taxi40100.at/taxischule/ausbildung/"><u>Taxischule 40100</u></a> </li>
    <li><a href="https://www.uniontaxischule.at/"><u>Union Taxischule</u></a></li>
    <li><a href="https://www.taxi31300.at/lenker-taxiunternehmer/kursangebote/taxikurs-wien">Taxi 31300</a></li>
    <li><a href="https://www.taxischule-arslan.at/"><u>Taxischule Arslan</u></a></li>
    <li><a href="https://www.taxilenker.at/bundeslandkurse/blk%20wien.html"><u>Taxilenkerkurs für Wien</u></a></li>
  </ul>

  <ion-button expand="block" color="dark" (click)="goBack()">zurück</ion-button> <br>
</ion-content>
