<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="bcl"></ion-menu-button>
    </ion-buttons>
    <ion-title>Diesel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img src="assets/img/mwCard.png">
    <p>Tanken mit Tankkarte bei angeführten ENI-Tankstellen. <b>Sofortrabatt
        von 4 cents per Liter</b> wird gleich abgezogen. Die Karte bekommen Sie
        von Herrn Rötzer oder Frau Salman.</p>
        <ion-item lines="none">
          <ion-button size="big" color="dark" (click)="Z2()">02. Bezirk</ion-button>
          <ion-button size="big"  color="dark" (click)="Z3()">03. Bezirk</ion-button>
        </ion-item>
        <ion-item lines="none">
          <ion-button size="big" color="dark" (click)="Z10()">10. Bezirk</ion-button>
          <ion-button size="big" color="dark" (click)="Z12()">12. Bezirk</ion-button>
        </ion-item>
        <ion-item lines="none">
          <ion-button size="big" color="dark" (click)="Z19()">19. Bezirk</ion-button>
          <ion-button size="big" color="dark" (click)="Z20()">20. Bezirk</ion-button>
        </ion-item>
        <ion-item lines="none">
          <ion-button size="big" color="dark" (click)="Z21()">21. Bezirk</ion-button>
          <ion-button size="big" color="dark" (click)="Z22()">22. Bezirk</ion-button>
        </ion-item>
        <ion-item lines="none">
          <ion-button size="big" color="dark" (click)="Z23()">23. Bezirk</ion-button>
        </ion-item>
  <ion-button expand="block" color="dark" (click)="goBack()">zurück</ion-button> <br>
</ion-content>
