<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Taxikurse Abend</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row className="ion-align-items-start">
      <ion-col>Februar</ion-col>
      <ion-col>
        17.-28.02.<br><br>
      </ion-col>
    </ion-row>
    <ion-row className="ion-align-items-start">
      <ion-col>März</ion-col>
      <ion-col>
        16.-27.03.<br><br>
      </ion-col>
    </ion-row>
    <ion-row className="ion-align-items-start">
      <ion-col>Juni</ion-col>
      <ion-col>
        22.06.-03.07.<br><br>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="block" color="dark" (click)="goBack()">zurück</ion-button> <br>
</ion-content>
